%h1 Float Order Index
- @sodas.each do |soda|
  = link_to "#{soda.order_name}", soda_path(soda)
  = link_to "Edit", edit_soda_path(soda), class: 'btn btn-xs btn-warning'
  = link_to "Delete", soda_path(soda), method: :delete, class: 'btn btn-xs btn-danger'
  %br
= link_to "Home", root_path, class: 'btn btn-success btn-lg btn-block'
